services:
  api:
    build:
      context: .
      target: api
    environment:
      TTX__Infrastructure__ConnectionStrings__Postgres: "Host=postgres;Port=5432;Database=ttx;Username=postgres;Password=postgres"
      TTX__Infrastructure__ConnectionStrings__Redis: "redis:6379,abortConnect=false"
      TTX__Infrastructure__Data: "Postgres"
      TTX__Infrastructure__Events: "Redis"
    depends_on:
      - redis
      - postgres
      - jobs

  jobs:
    build:
      context: .
      target: jobs
    environment:
      TTX__Infrastructure__ConnectionStrings__Postgres: "Host=postgres;Port=5432;Database=ttx;Username=postgres;Password=postgres"
      TTX__Infrastructure__ConnectionStrings__Redis: "redis:6379,abortConnect=false"
      TTX__Infrastructure__Data: "Postgres"
      TTX__Infrastructure__Events: "Redis"
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  postgres:
    image: timescale/timescaledb:latest-pg17
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ttx
    ports:
      - "5432:5432"

volumes:
  ttx-dataprotection: {}
  pg-data: {}
