.env*
ttx.nswag
.git*
.vscode
node_modules
**/.deno/
**/.deno/gen/
**/.deno_cache/
**/.deno_dir/
*.deno
*.deno.app
*.deno.exe
deno.json.bak
deno.json.example
deno.jsonc
deno.jsonc.bak
deno.jsonc.example
import_map.json
import_map.json.bak
import_map.json.example
**/.deps/
**/.vendor/
**/deps/
**/gen/
**/generated/
**/vendor/
*.a
*.lib
*.node
*.o
*.obj
*.pdb
*.wasm
